{% extends "base.html" %} {% load static %} {% block title %} Djangolova - Tech
Blog {% endblock%} {% block content %}
<header class="header st--header-5">
  <div class="menu--area header--bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4 logo--column--2 text-left">
          <a href="{% url 'home' %}" class="logo"
            ><!-- <img src="img/logo--white.png" alt="" />--></a
          >
        </div>
        <div class="col-md-10 col-sm-8 menu--column">
          <nav class="main_menu">
            <ul>
              <li>
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="">Podcast</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
          <div class="st--search--icon-wrap">
            <span class="st--search--icon--2"
              ><i class="fa fa-search"></i
            ></span>
            <div class="st--search--box--2">
              <form action="#">
                <div class="st--inner">
                  <input type="search" placeholder="Enter keyword to search" />
                  <button type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                  <div class="st--search--close--2">
                    <i class="zmdi zmdi-close"></i>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End of Header -->

<div class="owl-carousel">
  {% for post in post_list%}
  <div
    class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}"
    style="background-image: url({{post.thumbnail.url}}); background-size: cover; background-position: center"
  >
    <div class="hero-meta-info">
      <h2 data-slide-animation="fadeInUp" data-delay=".0s">
        <a href="#">{{post.title}}</a>
      </h2>
      <div class="hero-post-details">
        <img src='{% static "img/author.jpg" %}' alt="" />
        <a
          href="#"
          class="st--author"
          data-slide-animation="fadeInUp"
          data-delay=".2s"
          >{{ post.author }}</a
        >
        <span
          class="st--post--date"
          data-slide-animation="fadeInUp"
          data-delay=".3s"
          >{{post.created_at}}</span
        >
      </div>
      <div
        sclass="st--home--btn"
        data-slide-animation="fadeInUp"
        data-delay=".4s"
      >
        <a href="#" class="st--button"
          >Read More <i class="zmdi zmdi-long-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="st--blog--area sp">
  <div class="container">
    <div class="row">
      <div class="col-md-8 st--post--column col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="st--block--title--1">
              <h3>Latest Post</h3>
            </div>
          </div>
        </div>
        <div class="row st--common--masonry">
          {% if post_list %} {% for post in post_list %}

          <div class="col-sm-6 st--single--post">
            <div class="st--inner">
              <div class="st--post--top relative">
                <div
                  class="st--post--img"
                  style="
                    background-image: url({{post.thumbnail.url}});
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                  "
                >
                  <!--<img src="{{post.thumbnail.url}}" alt="" />-->
                </div>
                <div class="st--tags st--sticky--cat--1">
                  {{ post.category }}
                </div>
              </div>
              <div class="st--post--content">
                <h4><a href="#"> {{post.title}} </a></h4>
                <div class="st--post--meta st--info">
                  <span class="posted-by">
                    Posted by
                    <a href="#" class="st--author"> {{post.author}} </a>
                  </span>
                  <span class="post-date">
                    <span> {{post.created_at}} </span>
                  </span>
                </div>
                <p>{{post.content|truncatewords:25}}</p>
                <a href="{% url 'blog_content' post.slug %}" class="st--button"
                  >Read More <i class="zmdi zmdi-long-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <h4>No post to show</h4>
          {% endif %}
          <!-- /.st-single-post -->
        </div>
        <div class="st--pagination--1">
          <ul>
            <li><a href="#">1</a></li>
            <li><span>2</span></li>
            <li>
              <a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
      {% block sidebar %} {% include "sidebar.html" %} {% endblock sidebar %}
      <!-- /.st-sidebar-column -->
    </div>
  </div>
</div>
<!-- /.st-blog-area-1 -->
<div class="st--video--carousel--area sp st--grey--bg--1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="st--block--title--1">
          <h3>Podcast</h3>
        </div>
      </div>
    </div>
    <div class="st--video--carousel--1 st--slide--arrow--2">
      <div class="st--single--video--1">
        <div
          class="st--video--bg"
          style="background-image: url(/static/img/video--carousel--1.jpg)"
        ></div>
        <div class="st--content">
          <a href="#" class="st--category">Lifestyle</a>
          <a href="#" class="st--title">The Master Show</a>
        </div>
      </div>
      <div class="st--single--video--1">
        <div
          class="st--video--bg"
          style="background-image: url(/static/img/video--carousel--2.jpg)"
        ></div>
        <div class="st--content">
          <a href="#" class="st--category">Tech</a>
          <a href="#" class="st--title">The Master Show</a>
        </div>
      </div>
      <div class="st--single--video--1">
        <div
          class="st--video--bg"
          style="background-image: url(/static/img/video--carousel--3.jpg)"
        ></div>
        <div class="st--content">
          <a href="#" class="st--category">Web Development</a>
          <a href="#" class="st--title">The Master Show</a>
        </div>
      </div>
      <div class="st--single--video--1">
        <div
          class="st--video--bg"
          style="background-image: url(/static/img/video--carousel--4.jpg)"
        ></div>
        <div class="st--content">
          <a href="#" class="st--category">Music</a>
          <a href="#" class="st--title">The Master Show</a>
        </div>
      </div>
      <div class="st--single--video--1">
        <div
          class="st--video--bg"
          style="background-image: url(/static/img/video--carousel--2.jpg)"
        ></div>
        <div class="st--content">
          <a href="#" class="st--category">Career</a>
          <a href="#" class="st--title">The Master Show</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.st-video-carousel-area -->
{% endblock %}
